.home{
    height: 88vh;
    max-width: 100%; 
     background-repeat: no-repeats;
     background-image: url("https://source.unsplash.com/900x600?blog");
    //  background-image: url("../assets/trent-erwin-UgA3Xvi3SkA-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    //  background-size: 33vw 70vh;

 }